<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About | Be My Buddy</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <h1>Be My Buddy</h1>

    <nav class="navbar">
      <ul>
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('about') }}">About</a></li>
        <li><a href="{{ url_for('availability') }}">Set Availability</a></li>
        <li><a href="{{ url_for('report') }}">Report</a></li>
    </ul>
    </nav>

    <main>
      <h3>Welcome to Be My Buddy!</h3>
      <p>
        If you've ever been apprehensive about walking to your dorm or a bus
        stop in the dark from the academic section, Be My Buddy is here for you!
        If you'd like to be a Walker, create an account and request a walk when
        you need one. A Guide will receive a text with your phone number. If
        you'd like to be a Guide, create an account and log your availability.
        When someone requests a walk, you will receive a text with their phone
        number and the two of you can decide where and when to meet.
        <br />
        <br />
        Be My Buddy was created at HackViolet, a female-empowerment hackathon at
        Virginia Tech.
      </p>
    </main>
  </body>
</html>
