<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Report | Be My Buddy</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <h1>Be My Buddy</h1>
        <ul>
          <li><a href="{{ url_for('home') }}">Home</a></li>
          <li><a href="{{ url_for('about') }}">About</a></li>
          <li><a href="{{ url_for('availability') }}">Set Availability</a></li>
          <li><a href="{{ url_for('report') }}">Report</a></li>
        </ul>
      </nav>
    </header>

    <div class="container">
      <div class="form-box">
        <h1 id="title">Incident Report Form</h1>
        <form>
          <div class="input-group">
            <div class="input-field" id="nameField">
              <input type="text" placeholder="Full Name" required />
            </div>

            <div class="input-field">
              <input type="email" placeholder="VT Email" required />
            </div>
          

          <div class="wrapper">
            <textarea placeholder="Please describe the nature of the incident." required></textarea>
          </div>
        </div>
          <div class="btn-field">
            <button type="'submit" id="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>

    <script>
      const textarea = document.querySelector('textarea')
      textarea.addEventListener('keyup', (e) => {
        textarea.style.height = '63px'
        let scHeight = e.target.scrollHeight
        textarea.style.height = `${scHeight}px`
      })
    </script>
  </body>
</html>
